<table class="show_user_table">
  <tr>
    <th>ECS ID:</th>
    <td><%= @user.ecs_id %></td>
  </tr>
  <tr>
    <th>User name:</th>
    <td><%= @user.user_name %></td>
  </tr>
  <tr>
    <th>First name:</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>Last name:</th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>Position:</th>
    <td><%= @user.position_id %></td>
  </tr>
  <tr>
    <th>Main phone:</th>
    <td><%= @user.main_phone %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user), :class => 'button' %>
<%= link_to 'Back', users_path, :class => 'button' %>
