<h1>Listing problem_report_notes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Problem report record</th>
    <th>Created date</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problem_report_notes.each do |problem_report_note| %>
  <tr>
    <td><%= problem_report_note.user_id %></td>
    <td><%= problem_report_note.problem_report_record_id %></td>
    <td><%= problem_report_note.comment %></td>
    <td><%= link_to 'Show', problem_report_note %></td>
    <td><%= link_to 'Edit', edit_problem_report_note_path(problem_report_note) %></td>
    <td><%= link_to 'Destroy', problem_report_note, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem report note', new_problem_report_note_path %>
