<% content_for(:head) do %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.10.0/jquery-ui.js" %>
    <%= stylesheet_link_tag    "smoothness/jquery-ui-1.10.0.custom.css", :media => "all" %>

    <script>
      $(document).ready(function(){
        $( ".date" ).datepicker({dateFormat: "yy-mm-dd"});
      })
    </script>
  <% end %>

<%= form_for(@problem_report_record) do |f| %>
  <% if @problem_report_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_report_record.errors.count, "error") %> prohibited this problem_report_record from being saved:</h2>

      <ul>
      <% @problem_report_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>What</legend>
    <div class="field">
      <%= f.label :subject %><br />
      <%= f.text_field :subject %>
    </div>
     <div class="field">
      <%= f.label :category_id %><br />
      <%= f.select :category_id , options_from_collection_for_select(Category.all,"id","name",@problem_report_record.category_id), :prompt => "Select Category" %>
    </div>
    <div class="field">
      <%= f.label :system_id %><br />
      <%= f.select :system_id , options_from_collection_for_select(System.all,"id","name",@problem_report_record.system_id), :prompt => "Select System" %>
    </div>
    <div class="field">
      <%= f.label :problem_type_id %><br />
      <%= f.select :problem_type_id , options_from_collection_for_select(ProblemType.all,"id","name",@problem_report_record.problem_type_id), :prompt => "Select Problem Type" %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description , :cols => "30", :rows => "5" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Where and When</legend>
    <div class="field">
      <%= f.label :room_building %><br />
      <%= f.text_field :room_building %>
    </div>
    <div class="field">
      <%= f.label :room_number %><br />
      <%= f.text_field :room_number %>
    </div>
    <div class="field">
      <%= f.label :computer_name %><br />
      <%= f.text_field :computer_name %>
    </div>
    <div class="field">
      <%= f.label :date_entered %><br />
      <%= f.text_field :date_entered ,:class => "date" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Who</legend>
    <div class="field">
      <%= f.label :submitters_name %><br />
      <%= f.text_field :submitters_name %>
    </div>
    <div class="field">
      <%= f.label :submitters_email %><br />
      <%= f.text_field :submitters_email %>
    </div>

    <% if auth_user? %>
      <div class="field">
        <%= f.label :submitted_by_id %><br />
        <%= f.select :submitted_by_id , options_from_collection_for_select(User.all,"id","user_name",@problem_report_record.submitted_by_id), :prompt => "Select User" %>
      </div>
      <div class="field">
        <%= f.label :completed_by_id %><br />
        <%= f.select :completed_by_id , options_from_collection_for_select(User.all,"id","user_name",@problem_report_record.completed_by_id), :prompt => "Select User" %>
      </div>
    <% end %>

  </fieldset>
  <% if auth_user? %>
    <fieldset>
      <legend>Other</legend>
      <div class="field">
        <%= f.label :status_id %><br />
        <%= f.select :status_id , options_from_collection_for_select(Status.all,"id","name",@problem_report_record.status_id), :prompt => "Select Status" %>
      </div>
      <div class="field">
        <%= f.label :escalation_id %><br />
        <%= f.select :escalation_id , options_from_collection_for_select(Escalation.all,"id","name",@problem_report_record.escalation_id), :prompt => "Select Escalation" %>
      </div>
      <div class="field">
        <%= f.label :priority_id %><br />
        <%= f.select :priority_id , options_from_collection_for_select(Priority.all,"id","name",@problem_report_record.priority_id), :prompt => "Select Priority" %>
      </div>
      <div class="field">
        <%= f.label :date_due %><br />
        <%= f.text_field :date_due ,:class => "date" %>
      </div>
      <div class="field">
        <%= f.label :date_completed %><br />
        <%= f.text_field :date_completed ,:class => "date" %>
      </div>

      <div class="field">
        <%= f.label :solution %><br />
        <%= f.text_field :solution %>
      </div>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
