  <% content_for(:head) do %>
	  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.0/jquery-ui.js" %>
	  <%= stylesheet_link_tag    "smoothness/jquery-ui-1.10.0.custom.css", :media => "all" %>

	  <script>
	  	$(document).ready(function(){

	  		$('#tables').tabs();
	  		$('#assign-ticket-div').dialog({ modal: true,draggable: false});
	  		$('#assign-ticket-div').dialog('close');

	  		$(document).on("click",'.pagination a',function($e)
	        {
	            $.getScript(this.href);
	           
	            return false;
	        });

	  		

	        $(document).on("click",'.add_worker',function()
	        {
	        	var addWorkerHtml = '<div class="worker">' 
										+ '<%= escape_javascript(select_tag "worker[]" , options_for_select(User.all.map{ |usr| [usr.user_name,usr.id]}), :prompt => "Select User") %>'
										+ '<a class="remove_worker">Remove</a>'
									+ '</div>';
	        	$(addWorkerHtml).insertBefore(this);
	        });

	        $(document).on("click",'.remove_worker',function()
	        {
	        	var parentDiv = $(this).parent();
	        	parentDiv.remove();
	        });
	  	});

	  	function refreshTables()
	  	{
	  		$("#refresh-<%= workingOnPath %>").click();
	  		$("#refresh-<%= allReportPath %>").click();
	  		$("#refresh-<%= followReportPath %>").click();
	  		$("#refresh-<%= unclaimedReportsPath %>").click();
	  	}

	  </script>
  <% end %>

<br/>
<%= render "notification" %>
<div id = "tables">
	<ul>
		<li><a href="#working-on-reports">My Tickets</a></li>
		<li><a href="#all-reports">All Tickets</a></li>
		<li><a href="#followed-reports">Followed Tickets</a></li>
		<li><a href="#unclaimed-reports">Unclaimed Tickets</a></li>
	</ul>
	<div id="working-on-reports">
		<%= render :partial =>"infotable", :locals => {:problem_report_records => @reports_worked_on, :action => workingOnPath} %>
	</div>
	<div id="all-reports">
		<%= render :partial =>"infotable", :locals => {:problem_report_records => @all_reports, :action => allReportPath} %>
	</div>
	<div id="followed-reports">
		<%= render :partial =>'infotable', :locals => {:problem_report_records => @followed_reports,:action => followReportPath} %>
	</div>
	<div id="unclaimed-reports">
		<%= render :partial =>'infotable', :locals => {:problem_report_records => @unclaimed_reports,:action => unclaimedReportsPath} %>
	</div>
</div>
<br />

<div id="assign-ticket-div">

</div>

<%= link_to 'New Problem report record', new_problem_report_record_path %>

