<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @problem_report_record.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @problem_report_record.description %>
</p>

<p>
  <b>Catagory:</b>
  <%= @problem_report_record.catagory_id %>
</p>

<p>
  <b>Priority:</b>
  <%= @problem_report_record.priority %>
</p>

<p>
  <b>Date entered:</b>
  <%= @problem_report_record.date_entered %>
</p>

<p>
  <b>Date completed:</b>
  <%= @problem_report_record.date_completed %>
</p>

<p>
  <b>Date due:</b>
  <%= @problem_report_record.date_due %>
</p>

<p>
  <b>Hours worked:</b>
  <%= @problem_report_record.hours_worked %>
</p>

<p>
  <b>System type:</b>
  <%= @problem_report_record.system_type_id %>
</p>

<p>
  <b>Escalation:</b>
  <%= @problem_report_record.escalation_id %>
</p>

<p>
  <b>Problem type:</b>
  <%= @problem_report_record.problem_type_id %>
</p>

<p>
  <b>Room building:</b>
  <%= @problem_report_record.room_building %>
</p>

<p>
  <b>Room number:</b>
  <%= @problem_report_record.room_number %>
</p>

<p>
  <b>Computer name:</b>
  <%= @problem_report_record.computer_name %>
</p>

<p>
  <b>Solution:</b>
  <%= @problem_report_record.solution %>
</p>

<p>
  <b>Status:</b>
  <%= @problem_report_record.status_id %>
</p>

<p>
  <b>Submitted by:</b>
  <%= @problem_report_record.submitted_by_id %>
</p>

<p>
  <b>Completed by:</b>
  <%= @problem_report_record.completed_by_id %>
</p>

<p>
  <b>Submitters name:</b>
  <%= @problem_report_record.submitters_name %>
</p>

<p>
  <b>Submitters email:</b>
  <%= @problem_report_record.submitters_email %>
</p>


<%= link_to 'Edit', edit_problem_report_record_path(@problem_report_record) %> |
<%= link_to 'Back', problem_report_records_path %>
