<!DOCTYPE html>
<html>
<head>
  <title>ProblemReport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
	<div id="content">
		<div id="banner" class="box-shadow">
			<h1>Problem Reports</h1>
		</div>
		<div id="links" class="box-shadow">
              <%= link_to "Main Page" ,"/" %>
			| <%= link_to "Create Problem Report", new_problem_report_record_path %>
			| <%= link_to "Search for Problem Report" ,problem_report_records_path %>
		</div>
        <% if defined?(notice) && !(notice.nil?) %>
            <p id="notice"><%= notice %></p>
        <% end %>
		<%= yield %>
	</div>
</body>
</html>
